prototype/index.js
prototype/languageProcessingLog.txt
prototype/node_modules/
prototype/package-lock.json
prototype/package.json
prototype/public/js/main.js
prototype/.env
prototype/documentation/diagram.png
prototype/documentation/Prototype PDF.pdf
prototype/documentation/.DS_Store
prototype/.DS_Store
prototype/documentation/log.txt
prototype/emotionExtraction/languageProcessingFiles/processedTweetsSample.json
prototype/emotionExtraction/languageProcessingFiles/processedTweets.json
*.json
prototype/languageProcessing/.env
prototype/emotionExtraction/.env
.DS_Store
.gitattributes
